<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="page-header">
    <h2>Добро пожаловать в семью!</h2>
</div>

<form th:method="POST" th:action="@{/auth/registration}" th:object="${person}">
    <div class="form-group">
        <label for="username">Введите никнейм пользователя: </label>
        <input type="text" class="form-control" th:field="*{username}" id="username"/>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
            Ошибка ввода никнейма
        </div>
    </div>

    <div class="form-group">
        <label for="fullname">Введите полное имя пользователя: </label>
        <input type="text" class="form-control" th:field="*{fullname}" id="fullname"/>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">
            Ошибка ввода ФИО
        </div>
    </div>

    <div class="form-group">
        <label for="password">Введите пароль: </label>
        <input type="password" class="form-control" th:field="*{password}" id="password"/>
        <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            Ошибка ввода пароля
        </div>
    </div>

    <button type="submit" class="btn btn-default">Зарегистрироваться</button>
</form>

</body>
</html>