<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Все заказы</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="page-header">
    <h2>Список заказов</h2>
</div>

<table class="table table-striped">
    <tr>
        <th>Дата оформления</th>
        <th>Наименование товара</th>
        <th>Количество</th>
        <th>Общая стоимость</th>
        <th>Поставщик</th>
    </tr>
    <tr th:each="order : ${allOrders}">
        <td th:text="${order.creationDate}">text</td>
        <td th:text="${order.product.name}">text</td>
        <td th:text="${order.quantityOfGoods}">text</td>
        <td th:text="${order.fullPrice}">text</td>
        <td th:text="${order.supplier.name}">text</td>
    </tr>
</table>

<input type="button" class="btn btn-primary" value="Новый заказ" onclick="window.location.href = 'orders/new'"/>
<br><br>
<input type="button" class="btn btn-primary" value="На склад" onclick="window.location.href = '/warehouse'"/>

</body>
</html>