<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Все продукты</title>
</head>
<body>

<h2>All available goods</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Number</th>
    </tr>
    <tr th:each="element : ${warehouseElements}">
        <td th:text="${element.getProduct().getName()}">text</td>
        <td th:text="${element.getAmount()}">text</td>

        <td>
            <form action="#" th:method="PATCH" th:action="@{/warehouse/{id}(id=${element.getId()})}" th:object="${element}">
                <input type="number" name="amount" value="0" th:max="*{getAmount()}" th:min="0"/>
                <input type="submit" value="Списать"/>
            </form>
        </td>
    </tr>
</table>
<br><br>

<input type="button" value="New Order" onclick="window.location.href = 'new-order'"/>
<br><br>
<input type="button" value="Fix Warehouse" onclick="window.location.href = 'fix-warehouse'"/>

</body>
</html>