<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Все продукты</title>
</head>
<body>

<h2>Продукты на складе</h2>

<table border="1">
    <tr>
        <th>Наименование</th>
        <th>В наличии</th>
        <th>К списанию</th>
    </tr>
    <tr th:each="element : ${warehouseElements}">
        <td th:text="${element.getProduct().getName()}">text</td>
        <td th:text="${element.getAmount()}">text</td>
        <td>
            <form action="#" th:method="PATCH" th:action="@{/warehouse/{id}(id=${element.getId()})}" th:object="${editableElement}">
                <input type="number" th:field="*{amount}" th:max="${element.getAmount()}" th:min="0"/>
                <input type="submit" value="-"/>
            </form>
        </td>
    </tr>
</table>
<br>

<input type="button" value="Заказать продукт" onclick="window.location.href = 'orders/new'"/>

</body>
</html>