<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Все поставщики</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="page-header">
    <h2>Список поставщиков</h2>
</div>

<table class="table table-striped">
    <tr>
        <th>Поставщик</th>
        <th>Телефон</th>
        <th>Адрес</th>
        <th>Кол-во товаров</th>
        <th>Кол-во заключённых заказов</th>
        <th colspan="2" sec:authorize="hasRole('ROLE_ADMIN')">Действие</th>
    </tr>
    <tr th:each="supplier : ${suppliers}">
        <td th:text="${supplier.name}">text</td>
        <td th:text="${supplier.phone}">text</td>
        <td th:text="${supplier.address}">text</td>
        <td th:text="${supplier.purchasePrices.size()}">text</td>
        <td th:text="${supplier.orders.size()}">text</td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <form action="#" th:method="DELETE" th:action="@{/suppliers}" th:object="${supplier}">
                <input type="hidden"
                       name="id"
                       th:value="${supplier.id}"/>
                <input type="submit" class="btn btn-primary" value="Удалить"/>
            </form>
        </td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/suppliers/{id}(id=${supplier.id})}">
                <button type="button" class="btn btn-primary">Редактировать</button>
            </a>
        </td>
    </tr>
</table>

<div class="page-header">
    <h2>Создание поставщика</h2>
</div>

<form th:method="PUSH" th:action="@{suppliers/add}" th:object="${newSupplier}">
    <div class="form-group">
        <label>Название:
            <input type="text" class="form-control" th:field="*{name}"/>
        </label>
    </div>
    <div class="form-group">
        <label>Телефон:
            <input type="text" class="form-control" th:field="*{phone}"/>
        </label>
    </div>
    <div class="form-group">
        <label>Адрес:
            <input type="text" class="form-control" th:field="*{address}"/>
        </label>
    </div>
    <input type="submit" class="btn btn-primary" value="Создать"/>
</form>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <br/>
    <input type="button" class="btn btn-primary" value="Страница админа" onclick="window.location.href = '/admin'"/>
</div>

</body>
</html>