<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${supplier.name}"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="page-header">
    <h2 th:text="'Работа с ' + ${supplier.name}">Работа с поставщиком</h2>
</div>

<form action="#" th:method="POST" th:action="@{/suppliers/add}" th:object="${supplier}">
    <input type="hidden"
           name="id"
           th:value="*{id}"/>
    <div class="form-group">
    <label>Название:
        <input type="text" class="form-control" th:field="*{name}"/>
    </label>
    </div>
    <div class="form-group">
    <label>Телефон:
        <input type="text" class="form-control" th:field="*{phone}"/>
    </label>
    </div>
    <div class="form-group">
    <label>Адрес:
        <input type="text" class="form-control" th:field="*{address}"/>
    </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Сохранить данные"/>
</form>
<br>

<div th:if="${!supplier.getPurchasePrices().isEmpty()}">
    <h3>Товары поставщика</h3>
    <table class="table table-striped">
        <tr>
            <th>Продукт</th>
            <th>Стоимость за ед.</th>
            <th>Действие</th>
        </tr>
        <tr th:each="purchasePrice : ${supplier.getPurchasePrices()}">
            <td th:text="${purchasePrice.product.name}">text</td>
            <td>
                <form action="#" th:method="PATCH" th:action="@{/suppliers/product}" th:object="${newPurchasePrice}">
                    <input type="hidden"
                           name="id"
                           th:value="${purchasePrice.id}"/>
                    <input type="number" th:value="${purchasePrice.price}" id="price" name="price"/>
                    <input type="submit" class="btn btn-primary" value="Обновить"/>
                </form>
            </td>
            <td>
                <form action="#" th:method="DELETE" th:action="@{/suppliers/product}" th:object="${newPurchasePrice}">
                    <input type="hidden"
                           name="supplier.id"
                           th:value="${purchasePrice.supplier.id}"/>
                    <input type="hidden"
                           name="id"
                           th:value="${purchasePrice.id}"/>
                    <input type="submit" class="btn btn-primary" value="Удалить"/>
                </form>
            </td>
        </tr>
    </table>
    <br>
</div>

<h3>Начать торговать новым товаром</h3>
<form action="#" th:method="POST" th:action="@{/suppliers/product}" th:object="${newPurchasePrice}">
    <label>Продукт
        <select th:field="*{product.id}">
            <option th:each="p : ${unusedProducts}"
                    th:value="${p.id}"
                    th:text="${p.name}">
            </option>
        </select>
    </label>
    <label>цена за единицу
        <input type="number" th:field="*{price}"/>
    </label>
    <input type="hidden"
           name="supplier.id"
           th:value="${newPurchasePrice.supplier.id}"/>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Добавить"/>
</form>
<br/>

<input type="button" class="btn btn-primary" value="Вернуться к поставщикам" onclick="window.location.href = '/suppliers'"/>

</body>
</html>