<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Все продукты</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="page-header">
    <h2>Список продуктов</h2>
</div>

<table class="table table-striped">
    <tr>
        <th>Наименование</th>
        <th>Количество поставщиков</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')">Действие</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">text</td>
        <td th:text="${product.purchasePrices.size()}">text</td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <form action="#" th:method="DELETE" th:action="@{/products}" th:object="${product}">
                    <input type="hidden"
                           name="id"
                           th:value="${product.id}"/>
                    <input type="submit" class="btn btn-primary" value="Удалить"/>
                </form>
            </td>
    </tr>
</table>

<div class="page-header">
    <h2>Создание продукта</h2>
</div>

<form th:method="PUSH" th:action="@{products/add}" th:object="${newProduct}">
    <div class="form-group">
        <label>Название продукта
            <input type="text" class="form-control" th:field="*{name}"/>
        </label>
    </div>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Создать"/>
</form>
<br><br>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <input type="button" class="btn btn-primary" value="Страница админа" onclick="window.location.href = '/admin'"/>
</div>

</body>
</html>